.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NoteItem {
  background-color: #3c414a;
  color: white;
  border-radius: 10px;
  margin: 10px;
  width: 80%;
  padding: 10px 0;
}

.simpleInput {
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px;
  background: transparent;
  color: white;
  width: 400px;
}
.rNote {
  width: 600px;
}

.rNote:hover {
  background: white;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.buttonStyle {
  background-color: transparent;
  border: none;
}
.buttonStyle:hover {
  cursor: pointer;
}
